
    button.svelte-16o5tbh {
        margin: 0.5rem;
    }

    textarea.svelte-16o5tbh {
        font-family: monospace;
        font-size: 14px;
        padding: 0.5rem;

        border: 1px solid #cccccc;
        max-width: 100%;
        box-sizing: border-box;
        width: 100%;
    }

    @media (min-width: 769px) {
        textarea.svelte-16o5tbh {
            width: 120ch;
        }
    }

    textarea.error.svelte-16o5tbh {
        border-color: #ff4444;
    }

    textarea.error.svelte-16o5tbh:focus {
        border-color: #ff4444;
        outline: none;
    }
