
    .wrapper.svelte-1oxxjyy {
        display: grid;
        grid-template-columns: repeat(2, auto);
        text-align: left;
        grid-template-columns: auto 1fr; /* label auto, input takes remaining space */
    }

    textarea.svelte-1oxxjyy {
        width: 100%;
        height: 100px;
    }
