
    button.svelte-1urodea {
        margin: 0.5rem;
    }

    .faucet-input.svelte-1urodea,
    .address-input.svelte-1urodea {
        max-width: 100%;
        box-sizing: border-box;
        width: 100%;
    }

    @media (min-width: 769px) {
        .faucet-input.svelte-1urodea {
            width: 60ch;
        }
        .address-input.svelte-1urodea {
            width: 67ch;
        }
    }
