
    .value.svelte-tyd1uw,
    pre.svelte-tyd1uw {
        text-align: left;
        word-break: break-all;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
    }
    button.svelte-tyd1uw {
        margin: 0.5rem;
    }
