
    .value.svelte-qre9z5,
    pre.svelte-qre9z5 {
        text-align: left;
        word-break: break-all;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
    }
    button.svelte-qre9z5 {
        margin: 0.5rem;
    }
