
    button.svelte-s5ncdi {
        margin: 0.5rem;
    }
    input.svelte-s5ncdi {
        min-width: 6rem;
    }
    .inner-table.svelte-s5ncdi {
        width: 100%;
        margin-top: 0.5rem;
        border-collapse: collapse;
        font-size: 0.9rem;
    }

    .inner-table.svelte-s5ncdi th:where(.svelte-s5ncdi),
    .inner-table.svelte-s5ncdi td:where(.svelte-s5ncdi) {
        border: 1px solid #4f4f4f;
        padding: 0.4rem 0.6rem;
        text-align: left;
    }
    .inner-table.svelte-s5ncdi th:where(.svelte-s5ncdi),
    td.svelte-s5ncdi {
        background-color: #262626;
    }

    .mono.svelte-s5ncdi {
        font-family: monospace;
    }

    table.svelte-s5ncdi {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }
    th.svelte-s5ncdi,
    td.svelte-s5ncdi {
        padding: 0.75rem;
        border: 1px solid #ccc;
        text-align: left;
    }
    tr.clickable.svelte-s5ncdi {
        cursor: pointer;
        background-color: #f9f9f9;
    }
    tr.clickable.svelte-s5ncdi:hover {
        background-color: #eee;
    }
