
    button.svelte-1yflp2p {
        margin: 0.5rem;
    }
    input.svelte-1yflp2p {
        min-width: 6rem;
    }
    .inner-table.svelte-1yflp2p {
        width: 100%;
        margin-top: 0.5rem;
        border-collapse: collapse;
        font-size: 0.9rem;
    }

    .inner-table.svelte-1yflp2p th:where(.svelte-1yflp2p),
    .inner-table.svelte-1yflp2p td:where(.svelte-1yflp2p) {
        border: 1px solid #4f4f4f;
        padding: 0.4rem 0.6rem;
        text-align: left;
    }
    .inner-table.svelte-1yflp2p th:where(.svelte-1yflp2p),
    td.svelte-1yflp2p {
        background-color: #262626;
    }

    .mono.svelte-1yflp2p {
        font-family: monospace;
    }

    table.svelte-1yflp2p {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }
    th.svelte-1yflp2p,
    td.svelte-1yflp2p {
        padding: 0.75rem;
        border: 1px solid #ccc;
        text-align: left;
    }
    tr.clickable.svelte-1yflp2p {
        cursor: pointer;
        background-color: #f9f9f9;
    }
    tr.clickable.svelte-1yflp2p:hover {
        background-color: #eee;
    }
