
    .value.svelte-197n9ug,
    pre.svelte-197n9ug {
        text-align: left;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
    }
    button.svelte-197n9ug {
        margin: 0.5rem;
    }

    .grid.svelte-197n9ug {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .account.svelte-197n9ug {
        border: 2px solid #535353;
        border-radius: 12px;
        background-color: #1b2021;
        max-width: 500px;
    }
    .accountHeader.svelte-197n9ug {
        border-radius: 12px 12px 0 0;
        font-weight: bold;
        color: #ffffff;
        background-color: rgb(36, 47, 77);
    }
    .handle.svelte-197n9ug {
        background-color: #232324;
        overflow-wrap: anywhere;
    }
