
    button.svelte-1rwiuv5 {
        margin: 0.2rem;
    }
    .codemirror-wrapper.svelte-1rwiuv5 {
        text-align: left;
    }
    div.active.svelte-1rwiuv5 > button:where(.svelte-1rwiuv5) {
        background-color: #525252;
        border-color: #c3c3c3;
    }
