
    textarea.svelte-14s9lix {
        width: 100%;
        height: 100px;
    }

    .dry-run-result.svelte-14s9lix {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid #c4ab5f6d;
        border-radius: 4px;
        position: relative;
    }
    .dry-run-close.svelte-14s9lix {
        position: absolute;
        top: 8px;
        right: 8px;
        color: #850804;
        font-size: 22px;
        cursor: pointer;
        line-height: 1;
        padding: 0.2rem;
    }
