
  .container.svelte-oi9p46 {
    display: inline-block;
    transform: translate(calc(0px - var(--li-identation)), -50%);
    position: absolute;
    top: 50%;
    padding-right: 100%;
  }
  .arrow.svelte-oi9p46 {
    transform-origin: 25% 50%;
    position: relative;
    line-height: 1.1em;
    font-size: 0.75em;
    margin-left: 0;
    transition: 150ms;
    color: var(--arrow-color);
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
    display: block;
  }
  .expanded.svelte-oi9p46 {
    transform: rotateZ(90deg) translateX(-3px);
  }

  .root.svelte-1i7rqqe {
    display: inline-block;
    position: relative;
  }
  .indent.svelte-1i7rqqe {
    padding-left: var(--li-identation);
  }
  .label.svelte-1i7rqqe {
    position: relative;
  }

  .comma.svelte-e6kw7z {
    margin-left: -0.5em;
    margin-right: 0.5em;
  }

  .Date.svelte-tf7rfy {
    color: var(--date-color);
  }
  .BigInt.svelte-tf7rfy {
    color: var(--number-color);
  }
  .Number.svelte-tf7rfy {
    color: var(--number-color);
  }
  .Boolean.svelte-tf7rfy {
    color: var(--boolean-color);
  }
  .Null.svelte-tf7rfy {
    color: var(--null-color);
  }
  .Undefined.svelte-tf7rfy {
    color: var(--undefined-color);
  }
  .Symbol.svelte-tf7rfy {
    color: var(--symbol-color);
  }

  .indent.svelte-1gtqkel {
    padding-left: var(--li-identation);
  }

  span.svelte-1tqswys {
    color: var(--string-color);
    word-break: break-all;
    word-wrap: break-word;
  }

  .i.svelte-1gun0y1 {
    font-style: italic;
  }
  .fn.svelte-1gun0y1,
  .i.svelte-1gun0y1 {
    color: var(--function-color);
  }

  .regex.svelte-ck09sa {
    color: var(--regex-color);
  }

  span.svelte-d9qf8f {
    --string-color: var(--json-tree-string-color, #cb3f41);
    --symbol-color: var(--json-tree-symbol-color, #cb3f41);
    --boolean-color: var(--json-tree-boolean-color, #112aa7);
    --function-color: var(--json-tree-function-color, #112aa7);
    --number-color: var(--json-tree-number-color, #3029cf);
    --label-color: var(--json-tree-label-color, #871d8f);
    --property-color: var(--json-tree-property-color, #000000);
    --arrow-color: var(--json-tree-arrow-color, #727272);
    --operator-color: var(--json-tree-operator-color, #727272);
    --null-color: var(--json-tree-null-color, #8d8d8d);
    --undefined-color: var(--json-tree-undefined-color, #8d8d8d);
    --date-color: var(--json-tree-date-color, #8d8d8d);
    --internal-color: var(--json-tree-internal-color, grey);
    --regex-color: var(--json-tree-regex-color, var(--string-color));
    --li-identation: var(--json-tree-li-indentation, 1em);
    --li-line-height: var(--json-tree-li-line-height, 1.3);
    font-size: var(--json-tree-font-size, 12px);
    font-family: var(--json-tree-font-family, 'Courier New', Courier, monospace);
  }
  span.svelte-d9qf8f li {
    line-height: var(--li-line-height);
    display: var(--li-display, list-item);
    list-style: none;
  }
  span.svelte-d9qf8f,
  span.svelte-d9qf8f ul {
    padding: 0;
    margin: 0;
  }

  .expandable.svelte-d9qf8f {
    margin-left: var(--li-identation);
  }
  span.svelte-d9qf8f {
    cursor: default;
  }
  span.svelte-d9qf8f .label {
    color: var(--label-color);
  }
  span.svelte-d9qf8f .property {
    color: var(--property-color);
  }
  span.svelte-d9qf8f .internal {
    color: var(--internal-color);
  }
  span.svelte-d9qf8f .operator {
    color: var(--operator-color);
  }
  span.svelte-d9qf8f > span:where(.svelte-d9qf8f) {
    white-space: pre-wrap;
  }
